.BuildControls {
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 5px 0;
}

.BuildControls p {
    font-family: inherit;
    font-weight: 600;
    font-size: 1.1em;
    box-shadow: 2px 2px 2px #D39952;
    padding: 5px 10px;
    color: white;
    margin: 10px;
}

.BldControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
}

.BldControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
}

.BldControl button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BldControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.BldLabel {
    padding: 8px;
    font-weight: 500;
    color: white;
    width: 70px;
    text-align: left;
}

.BldControl .Less {
    background-color: #D39952;
    color: white;
    box-shadow: 2px 2px 2px #8F5E1E;
}

.BldControl .More {
    background-color: #8F5E1E;
    color: white;
    box-shadow: 2px 2px 2px #6F5E1E;
}

.BldControl .Less:hover, .BldControl .Less:active {
    background-color: #DAA972;
    color: white;
}

.BldControl .More:hover, .BuildControl .More:active {
    background-color: #99703F;
    color: white;
}

.OrderButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: 1px solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 1.2em;
    padding: 10px 25px;
    box-shadow: 2px 2px 2px #966909;
    margin: 10px 5px;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: 1px solid #966909;
    color: #966909;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    
    .BldControl button {
        margin: 7px 15px;
    }
}