.LogoComp {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.LogoComp img {
    height: 100%;
}

.Navigations {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

.NavigationItem {
    margin: 7px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    align-items: center;
    border: 1px solid darkgray;
}

.NavigationItem a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 15px 10px;
 }

.NavigationItem a:hover,
.NavigationItem a.active {
    color: #40A4C8;
    background-color: seashell;
}

.BackDrop {
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.ShowModal {
    transform: translateY(0);
    opacity: 1;
}

.HideModal {
    transform: translateY(-100vh);
    opacity: 0;
}

.Modal p {
    font-weight: 500;
}

.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: white;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.DrawerOpen {
    transform: translateX(0);
}

.DrawerClose {
    transform: translateX(-100%);
}

.SideLogo {
    height: 11%;
    margin-bottom: 32px;
}

.Button {
    background-color: transparent;
    border: 1px solid #ccc;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 11px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@media(min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
        border: none;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }

    .Navigations {
        flex-flow: row;
    }

    .SideDrawer {
        display: none;
    }
}